%button {
  width: auto;
  padding: 5px 40px;
  border-radius: 20px;
}

.filled {
  @extend %button;
  background-color: var(--color-primary) !important;
  color: white;

  &:hover {
    background-color: var(--color-hover);
  }
}

.outlined {
  @extend %button;
  background-color: var(--color-basic) !important;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);

  &:hover {
    background-color: var(--color-primary) !important;
    color: white;
  }
}
