%button {
  @apply w-full rounded-[20px] p-2 whitespace-nowrap whitespace-nowrap transition-all duration-300 ease-in-out;
}

.filled {
  @extend %button;
  background-color: var(--color-primary) !important;
  color: white;

  &:hover {
    background-color: var(--color-hover) !important;
  }
}

.outlined {
  @extend %button;
  background-color: var(--color-basic) !important;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition-delay: 200ms;

  &:hover {
    background-color: var(--color-primary) !important;
    color: white;
  }
}
