.menuButton {
  @apply w-12 h-12;
}

.closeButton,
.mobileMenu {
  @apply lg:hidden;
}

.menuOpen {
  @apply lg:hidden fixed inset-y-0 right-0 z-50 bg-gray-800 bg-opacity-75 w-1/2 h-full flex flex-col;
  justify-content: flex-start;
  align-items: center;

  .closeButton {
    @apply w-7 h-7 ml-auto mb-4;
    margin-top: 10px;
    margin-right: 10px;

    &:hover {
      border-bottom: none !important;
    }
  }

  button,
  a {
    @apply w-full block rounded-[0px];
    width: 100%;
    padding: 10px 3px;
    background-color: transparent !important;
    color: var(--color-basic) !important;
    border: none !important;

    &:hover {
      background-color: transparent !important;
      color: var(--color-basic);
      border-bottom: 3px solid var(--color-basic) !important;
    }
  }
}
